<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Planet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Add New Planet</h1>
    <form th:action="@{/planets/add}" method="post" th:object="${newPlanet}">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="namePlanet" th:field="*{namePlanet}" required>
        </div>
        <div class="form-group">
            <label for="inputRadius">Radius</label>
            <input type="number" class="form-control" id="inputRadius" name="radiusPlanet" th:field="*{radiusPlanet}" required>
        </div>
        <div class="form-group">
            <label for="inputCoreTemperature">Core Temperature</label>
            <input type="number" class="form-control" id="inputCoreTemperature" name="coreTemperature" th:field="*{coreTemperature}" required>
        </div>
<!--        <div class="form-group">-->
<!--            <label for="inputAtmosphere">Has Atmosphere</label>-->
<!--            <input type="checkbox" class="form-control" id="inputAtmosphere" name="isAtmosphere" th:field="*{isAtmosphere}" required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="inputPresenceOfLife">Presence of Life</label>-->
<!--            <input type="checkbox" class="form-control" id="inputPresenceOfLife" name="presenceOfLife" th:field="*{presenceOfLife}" required>-->
<!--        </div>-->
        <div class="form-group">
            <label for="inputIdGalaxy">Id Galaxy</label>
            <input type="number" class="form-control" id="inputIdGalaxy" name="idGalaxy" th:field="*{idGalaxy}" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Planet</button>
    </form>
    <a href="/planets" class="btn btn-secondary mt-3">Back to Planets</a>
</div>

</body>
</html>
